{% extends "base.html" %} 
{% load markup %}
{% load taggingtags %}
{% load disqus_tags %}

{% block title %} Xabier Larrakoetxea {% endblock %}

{% block pageTitle %}Latest entries {% endblock pageTitle %}

{% block mainSection %}
<section class="main-section grid_12">
    <div class="special-div">
    {%for entry in entries %}
        <article class="entry ">
            <h2 class="title"><a href="{{ entry.get_absolute_url }}">{{entry.title}}</a></h2>
            <section class="entry-date">
                    <a href="{% url blog.views.blog_entries_month entry.pub_date|date:'Y', entry.pub_date|date:'m' %}">{{entry.pub_date|date:'l, F d, Y'}}</a>
                </section>
            </br>
            {% if entry.entry_format == 'html' %}
            
                {{entry.body|safe|truncatewords:20}}
            
                {% else %}{% if entry.entry_format == 'md' %}
            
                    {{entry.body|markdown:'safe,codehilite'|truncatewords:20}}
                    
                {% endif %}
            
            {% endif %}
            </br></br>
            <section class="entry-author">
                <span>posted by <a href="{% url blog.views.author_detail entry.author.username %}"> {{entry.author.username}}</a> at {{entry.pub_date|date:'f A'}}</span>
                <span><a href="{{ entry.get_absolute_url }}#disqus_thread" data-disqus-identifier="blog_entry_{{ entry.id }}">View comments</a></span>
                {% disqus_num_replies %}
            </section>
        </article>
        </br>
    {% endfor %}
    </div>
</section>

<div class="clear"></div>

<section class="page-title grid_12">
    <div class="special-div">Twitter</div>
</section>

<div class="clear"></div>
</br>
<section class="entry grid_12">
    <div class="special-div">
        <ul>
            <li>*tweet</li>
            <li>*tweet</li>
            <li>*tweet</li>
            <li>*tweet</li>
            <li>*tweet</li>
        </ul>
    </div>
</section>

{% endblock mainSection %}
