{% extends "site.html" %}
{% block title %} index! {% endblock %}
{% block mainSection %}
    <article>
                
        <h1>Article 1 Header</h1>
                    
        <p>Etiam pretium odio eu mi convallis vitae varius neque pharetra. Nulla vestibulum nisi ut sem cursus sed mattis nisi egestas.</p>
                    
        <h2>Article Subhead</h2>
                    
        <p>Vestibulum lacus erat, volutpat vel dignissim at, fringilla ut felis.</p>
            
    </article>
    
    <article>
                
        <h1>Article 2 Header</h1>
                    
        <p>Etiam pretium odio eu mi convallis vitae varius neque pharetra. Nulla vestibulum nisi ut sem cursus sed mattis nisi egestas.</p>
                    
        <h2>Article Subhead</h2>
                    
        <p>Vestibulum lacus erat, volutpat vel dignissim at, fringilla ut felis.</p>
            
    </article>
        
{% endblock mainSection %}
