{% extends "base.html" %} 
{% load markup %}
{% load readmorefilter %}
{% load taggingtags %}
{% load disqus_tags %}

{% block title %} Xabier Larrakoetxea {% endblock %}

{% block head %}
    <!-- tweets :) -->
    <script language="javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
    <script language="javascript" src="{{STATIC_URL}}/js/jquery.tweet.js" type="text/javascript"></script> 
    <script type='text/javascript'>
        jQuery(function($){
            $(".tweet").tweet({
                username: "slok69",
                join_text: "auto",
                avatar_size: 48,
                count: 5,
                auto_join_text_default: "",
                auto_join_text_ed: "",
                auto_join_text_ing: "",
                auto_join_text_reply: "Replie to:",
                auto_join_text_url: "",
                loading_text: "loading tweets..."
            });
        });
    </script>
    <link href="{{STATIC_URL}}css/jquery.tweet.css" media="all" rel="stylesheet" type="text/css"/>  
{% endblock head %}

{% block pageTitle %}Latest entry {% endblock pageTitle %}

{% block mainSection %}
<section class="main-section grid_12">
    <div class="special-div">
    {%for entry in entries %}
        <article class="entry ">
            <h2 class="title"><a href="{{ entry.get_absolute_url }}">{{entry.title}}</a></h2>
            <section class="entry-date">
                    <a href="{% url blog.views.blog_entries_month entry.pub_date|date:'Y', entry.pub_date|date:'m' %}">{{entry.pub_date|date:'l, F d, Y'}}</a>
                </section>
            </br>
            {% if entry.entry_format == 'html' %}
            
                {{entry.body|readmore:'<!--more-->'|safe}}
            
                {% else %}{% if entry.entry_format == 'md' %}
            
                    {{entry.body|readmore:'<!--more-->'|markdown:'safe,codehilite,tables'}}
                    
                {% endif %}
            
            {% endif %}
            </br>
            <div class="readmore"> <a href="{{ entry.get_absolute_url }}"><b>Read more</b></a> </div>
            </br>
            <section class="entry-author">
                <span>posted by <a href="{% url blog.views.author_detail entry.author.username %}"> {{entry.author.username}}</a> at {{entry.pub_date|date:'f A'}}</span>
                <span><a href="{{ entry.get_absolute_url }}#disqus_thread" data-disqus-identifier="blog_entry_{{ entry.id }}">View comments</a></span>
                {% disqus_num_replies %}
            </section>
        </article>
        </br>
    {% endfor %}
    
    </div>
</section>

<div class="clear"></div>

<section class="syncs grid_12">
    <div class="special-div">
        <section class="page-title">
            <h1>Twitter</h1>
        </section>
        </br>
        <section class="tweets">
            <div class="tweet"></div> 
        </section>
    </div>
</section>



{% endblock mainSection %}
