<section class="pagination">
    <!--{% if entries.has_previous %}
        <a href="?page={{ entries.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
        Page {{ entries.number }} of {{ entries.paginator.num_pages }}.
    </span>

    {% if entries.has_next %}
        <a href="?page={{ entries.next_page_number }}">next</a>
    {% endif %}-->
    {% if entries.has_previous %}
        <div class="entry-index-box grid_2">
        <div class="special-div">
            
                <a href="?page={{ entries.previous_page_number }}">Newer entries</a>
            
        </div>
        </div>
    {% else %} <!-- We need 2 grid size to put the older entries in the right corner-->
        <div class="grid_2">
            <div class="special-div">
            </div>
        </div>
        
    {% endif %}
    {% if entries.has_next %}
        <!--clear space between both-->
        <div class="grid_2 prefix_5 suffix_5">
            <div class="special-div">
            </div>
        </div>
        <div class="entry-index-box grid_2 ">
        <div class="special-div">
            
                <a href="?page={{ entries.next_page_number }}">Older entries</a>
            
        </div>
        </div>
    {% endif %}
</section> 
