<section class="pagination">
    <!--{% if entries.has_previous %}
        <a href="?page={{ entries.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
        Page {{ entries.number }} of {{ entries.paginator.num_pages }}.
    </span>

    {% if entries.has_next %}
        <a href="?page={{ entries.next_page_number }}">next</a>
    {% endif %}-->
    {% if entries.has_previous %}
        <a class="pagination" style="float: right; clear: right;" href="?page={{ entries.previous_page_number }}">Newer entries</a>
    {% endif %}
    
    {% if entries.has_next %}
        <a class="pagination" href="?page={{ entries.next_page_number }}">Older entries</a>
    {% endif %}

</section> 
