/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:
	
	Eric Meyer					:: http://ericmeyer.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
	
-------------------------------------------------------------------------------*/

/* Let's default this puppy out
-------------------------------------------------------------------------------*/

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}									

article, aside, figure, footer, header, hgroup, nav, section {display: block;}

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
img,
object,
embed {max-width: 100%;}

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted. 
	don't forget to restore the bullets within content. */
ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before, 
blockquote:after, 
q:before, 
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom; *vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}
 
/* Accessible focus treatment
	people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {outline: none;}

small {font-size: 85%;}

strong, th {font-weight: bold;}

td, td img {vertical-align: top;} 

/* Make sure sup and sub don't screw with your line-heights
	gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label, 
input[type=button], 
input[type=submit], 
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button {width: auto; overflow: visible;}
 
/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover */
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; }  



/* Ok, this is where the fun starts.
-------------------------------------------------------------------------------*/

/* new Linux- and Windows-friendly sans-serif font stack: http://mky.be/fontstack */
body {font: 13px Helmet, Freesans, sans-serif;}

/* using local fonts? make sure to read up on Paul Irish's 
	Bulletproof @font-face syntax: http://mky.be/font-face/bulletproof/ */

/* we like off-black for text */
body, select, input, textarea {color: #333;}

a {color: #03f;}
a:hover {color: #69f;}

/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;} 

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;} 

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}





/* Print styles!
-------------------------------------------------------------------------------*/
@media print {



}


/* Media queries!
-------------------------------------------------------------------------------*/

/* Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
	
		
}

@media all and (orientation: portrait) {
	
}

@media all and (orientation: landscape) {
	
}


/*-------------------------------------------------------------------------------*/



body
{
    background-image:url('../img/black_paper.png');
}

header
{
    background: #3D3D3D;
    /*padding: 1px 0;*/
    /*margin-top: 15px;*/

}
article.banner
{
    background:url('../img/cork_1.png') repeat top center;
    height: 210px;
}

footer
{
    background: #3D3D3D;
    text-align: center;

}

ul ul,
 ul {
     list-style-type: disc;
     margin-left: 25px;
     margin-top: 10px;
     margin-bottom: 10px;
}
 li {
    padding: 5px;
 }
 ul ul{
    list-style-type: circle;
 }
p {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 18px;
}
h1{
    font-size: 18px;
    font-style: bold;
}
h2{
    font-size: 16px;
    font-style: bold;
}
h3{
    font-size: 14px;
    font-style: bold;
}

body{
    line-height:12px;
}

h1,h2,h3,h4,h5,h6{
    line-height: 36px;
}

table{
    border:solid 1px #68838E;
}
tr:nth-child(odd){
    background-color:transparent;
}

tr:nth-child(even){
    background-color:#C7D4ED;
}

th{
     background-color:#B2C6EB;
     padding: 10px
}
tr td{
    padding: 5px;
}

a{
    text-decoration: underline;
    color: #000000;
    font-weight: bold;
}
a:hover{
    background-color: #898989;
    color: #000000;
}

code,
pre{
    background-color:#C7D4ED;
    border:dashed 1px #454545;
    /*border:solid 1px #454545;*/
    font-family:monospace;
    font-size: 12px;
    padding: 15px;
    margin: 10px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    white-space: pre-line;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
code{
    padding:5px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 1px;
}

/*http://matthewjamestaylor.com/blog/beautiful-css-centered-menus-no-hacks-full-cross-browser-support#*/

.navmenu {
   float:left;
   width:100%;
   background:transparent;
   overflow:hidden;
   position:relative;
   
}
.navmenu ul {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}
.navmenu ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
}
.navmenu ul li a {
   display:block;
   margin:0 0 0 10px;
   padding:3px 10px;
   /*background:#ddd;*/
   color:#DDD;
   text-decoration:none;
   font-size :15px;
   line-height:1.3em;
}
.navmenu ul li a:hover {
   /*background:#369;*/
   color:#fff;
   background-color:transparent;
}
.navmenu ul li a.active,
.navmenu ul li a.active:hover {

   /*background:#ddd;*/
   font-weight:bold;
   margin:0 0 0 10px;
   padding:3px 10px;
   border-bottom: 4px solid #DEDEDE;
   background-color:transparent;
}

.navmenu.active
{
    text-decoration:underline;
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------
*This is used to solve the problem with grid 960 and the padding. Solution from: http://divitodesign.com/css/tricks-to-solve-960-css-framework-problems/
*
* We have tu use it every time that wqe use padding and grid_xx (put after grid_xx class block)
*
**/
div.special-div{
    padding:5px;

}

/*------------------------------------------------------------------------------------*/ 
.comments,
.entry-index-box,
.entry-index
{
    /*background-color:;
    border-width:2px;
    border-color:#878483;*/

    background-color:#BFBFBF;
    border-width:2px;
    border-color:#999999;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    -moz-box-shadow:0px 0px 4px #fff5f2;
    -webkit-box-shadow:0px 0px 4px #fff5f2;
    box-shadow:0px 0px 4px #fff5f2;
    /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
    margin-top: 20px;
    margin-bottom: 20px;

}
.entry-index-box
{
   /* height: 100px;*/
}
.comments,
section.body-entry
{
    padding: 10px;
}
.day
{
    margin: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.month
{
    text-align: center;
    font-size: 14px;
}
article.banner h1
{
    padding: 30px;
    /*font-family: 'Calligraffitti', cursive;*/
    font-family: 'Rock Salt', cursive;
    font-size:55px;
    text-align: center ;
    line-height: 1.0em;
    
    webkit-transform: rotate(355deg);
    -moz-transform: rotate(355deg);
    -o-transform: rotate(355deg);
    writing-mode: lr-tb;
}

article.banner a
{
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    
}

article.banner a:hover
{
    background-color:transparent;
    text-decoration: none;
    font-size:60px;
}

h2.title a:hover
{
    background-color:transparent;
    text-decoration:underline;
}

h2.title a,
h2.title
{   
    font-family: 'Cuprum', sans-serif;
    color: #212121;
    text-shadow: #ABABAB 0px 1px 2px, #000000 -1px -1px 2px;
    font-size:35px;
    padding: 5px;
    text-decoration: none;
}
.twitter-share-button,
.google-plusone-button{
    float: left;

}
/*
.entry-tag a:hover
{
    text-decoration:underline;
}

.entry-tag
{
    padding: 5px;
}
.entry-tag li{
    padding:5px;
    list-style-type: none;
    float: left;
    padding:2px;
    margin: 1px;
    border: 1px solid #000;
    background-color:#C7D4ED;
}
.entry-tag a{
    
    color: #ffffff;
    text-decoration:none;
    font-weight:bold;
    
}
*/
.entry-tag {
	list-style:none;
	font-size:.9em;
    padding-bottom: 10px;
    
}
.entry-tag li {
	padding-right:5px;
    list-style-type: none;
    float: left;
}
.entry-tag li a,
.entry-tag li strong {
	padding:.2em .4em;
	background:#f4f4f4;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	text-decoration:none;
}
