/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:
	
	Eric Meyer					:: http://ericmeyer.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
	
-------------------------------------------------------------------------------*/

/* Let's default this puppy out
-------------------------------------------------------------------------------*/

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	/*Original background*/
    background: transparent;
}									

article, aside, figure, footer, header, hgroup, nav, section {display: block;}

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
img,
object,
embed {max-width: 100%;}

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted. 
	don't forget to restore the bullets within content. */
ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before, 
blockquote:after, 
q:before, 
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom; *vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}
 
/* Accessible focus treatment
	people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {outline: none;}

small {font-size: 85%;}

strong, th {font-weight: bold;}

td, td img {vertical-align: top;} 

/* Make sure sup and sub don't screw with your line-heights
	gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label, 
input[type=button], 
input[type=submit], 
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button {width: auto; overflow: visible;}
 
/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover */
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; }  



/* Ok, this is where the fun starts.
-------------------------------------------------------------------------------*/

/* new Linux- and Windows-friendly sans-serif font stack: http://mky.be/fontstack */
body {font: 13px Helmet, Freesans, sans-serif;}

/* using local fonts? make sure to read up on Paul Irish's 
	Bulletproof @font-face syntax: http://mky.be/font-face/bulletproof/ */

/* we like off-black for text */
body, select, input, textarea {color: #333;}

a {color: #03f;}
a:hover {color: #69f;}

/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;} 

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;} 

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}



/* Print styles!
-------------------------------------------------------------------------------*/
@media print {



}


/* Media queries!
-------------------------------------------------------------------------------*/

/* Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
	
		
}

@media all and (orientation: portrait) {
	
}

@media all and (orientation: landscape) {
	
}

/*
 * Custom classes to replace in the html (Maybe I miss some :S)
 *------------------------------------------------------------------------------------------------------------------------------------------------------------------
 * .navmenu: the navigation menu class 
 * li.navmenu: each button of the nav menu
 * .page-title: the title page
 * .entry: The block of all the entry
 * .main-section: the central block (between title and footer)
 * .entry: an entry block (blog post) 
 * .side-block: the block in the side (in this one for now in the right)
 * .footer-block: the block in the bottom 
 * .entry-date: the date of the entry block
 * .comments: the comments block
 * .pagination: pagination block section
 * a.pagination: each pagination link
 * .entry-tag: entry tags
 * li.entry-tags: each tag of the entry
 * .menu-tag: tags in the menu
 * li.menu-tag: earch tag in the menu
 */
.search,
li.side-tag-list,
.side-tag,
.tag-cloud,
.archive-dates,
.archive-dates-list,
.comments,
.entry,
.entry-tag,
li.entry-tag-list,
.pagination{
    padding:5px;
    }
    
li.entry-tag-list,
li.navmenu-list {
    float: left;
    padding:2px;
    margin: 1px;
    }

li.navmenu-list{
    float: right;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------
 * The ones that use special-div
 * */
.entry-tag, 
.navmenu {
	list-style: none;
    margin: 5px;
    padding-bottom: 10px;
    } 
 
.page-title {
    font-family: 'Passero One', cursive;
    font-weight: bold;
    font-size:250%;
    margin: 5px;
    color: #41565e;
    } 
.logo{
    font-size:300%;
}

.logo,
.side-block,
.footer-block,
.main-section{
    margin: 5px;
    }
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------
 *This is used to solve the problem with grid 960 and the padding. Solution from: http://divitodesign.com/css/tricks-to-solve-960-css-framework-problems/
 * 
 * We have tu use it every time that wqe use padding and grid_xx (put after grid_xx class block)
 * 
 **/
div.special-div{
    padding:5px;

}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------
 * Put border (for design porpouses) in the same place, that way if we want to commented we doit in one time
*/
li.authors-list
li.side-tag-list,
.side-tag,
.tag-cloud,
.archive-dates,
.archive-dates-list,
.tag-cloud,
.entry-date,
.comments,
.entry,
.entry-tag,
li.entry-tag-list,
.pagination,
li.navmenu-list,
div.special-div{
    /*border:solid 1px #1d56ab;*/
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------
 * Design :D
 */
 
body{
    font: 14px "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
} 
html{
    /*background-image:url('../img/bright_squares.png');*/
    background-color: #588EA3;
    }
.search,    
.authors,
.tag-cloud,
.comments,
.side-block,
.entry{
    background-color:#E8D3AB;
    border-width:4px;
    border-color:#363636;
    -moz-border-radius:2px 31px;
    -webkit-border-radius:2px 31px 2px 31px;/*This is the correct shorthand for webkit*/
    border-radius:2px 31px;
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    -moz-box-shadow:5px 5px 7px #000000;
    -webkit-box-shadow:5px 5px 7px #000000;
    box-shadow:5px 5px 7px #000000;
    filter: progid:DXImageTransform.Microsoft.Shadow(strength=5, direction=135, color='#000000');
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength=5, Direction=135, Color='#000000')";
    /*Shadows look very different in IE (Only cardinal directions supported)*/
    /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
    /*Element should have a background-color*/
    /*All filters must be placed together*/
    /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
    opacity:1.0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=52);
    /*-ms-filter must come before filter*/
    filter: alpha(opacity=52);
    /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
    /*All filters must be placed together*/

}

.entry{
    padding: 15px;
}

.page-title{
    background-color:#BFD4DC;
    border-width:4px;
    border-color:#363636;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:20px;
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    -moz-box-shadow:5px 5px 7px #000000;
    -webkit-box-shadow:5px 5px 7px #000000;
    box-shadow:5px 5px 7px #000000;
    filter: progid:DXImageTransform.Microsoft.Shadow(strength=5, direction=135, color='#000000');
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength=5, Direction=135, Color='#000000')";
    /*Shadows look very different in IE (Only cardinal directions supported)*/
    /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
    /*Element should have a background-color*/
    /*All filters must be placed together*/
    /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/

}



code{
    padding: 1px;
}



.logo a{
	font-size:60px;
	font-family: 'Neuton', serif;
	color: #CFDFE8;
	text-shadow: 1px 3px 5px #000000;
    text-decoration: none;
}
.logo a:hover {
	color: #CFDFE8;
	text-shadow: 8px 8px 10px #000000;
}




.pagination a{
    background-color:#bababa;
}


.entry-tag li,
.entry-author span{
    background-color:#588EA3;
    border-width:4px;
    border-color:#363636;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:20px;
    margin-left: 20px;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    -moz-box-shadow:inset 5px 5px 7px #000000;
    -webkit-box-shadow:inset 5px 5px 7px #000000;
    box-shadow:inset 5px 5px 7px #000000;
    filter: progid:DXImageTransform.Microsoft.Shadow(strength=5, direction=135, color='#000000');
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength=5, Direction=135, Color='#000000')";

    color: #E8D3AB;
}

code,
pre{
    background-color:#CFDFE8;
    border:solid 1px #68838E;
    font-family:monospace;
    font-size: 12px;
    padding: 15px;
    margin: 10px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
code{
    padding:5px;
    margin: 1px;
}


.entry-tag{
    margin-bottom: 20px;
}

.entry-author {
    margin-bottom: 5px;
}

.twitter-share-button,
.google-plusone-button{
    float: left; 

}

.title a{
    color: #425E6A;
	font: 25px "Helvetica Neue", Helvetica Neue, Helvetica, arial, sans-serif;
	font-weight: 300;
    text-decoration:none;
}
.entry-tag a:hover,
.entry-author a:hover,
.entry-date a:hover,
.title a:hover{
    text-decoration:underline;
}

.entry-tag a,
.entry-author a{
    
    color: #E2D59B;
    text-decoration:none;
    font-weight:bold;
    
}
.entry-date a{
    font-size: 11px;
	font-weight: normal;
	color: #425A6A;
    text-decoration:none;
}


/*-------------------------------------------------------------------
 *Navmenu Button styles 
 */
 
 
.button{
    background-color:#BFD4DC;
    border-width:4px;
    border-color:#363636;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:20px;
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    -moz-box-shadow:2px 2px 4px #000000;
    -webkit-box-shadow:2px 2px 4px #000000;
    box-shadow:2px 2px 4px #000000;
    filter: progid:DXImageTransform.Microsoft.Shadow(strength=5, direction=135, color='#000000');
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength=5, Direction=135, Color='#000000')";
    /*Shadows look very different in IE (Only cardinal directions supported)*/
    /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
    /*Element should have a background-color*/
    /*All filters must be placed together*/
    /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    font-size: 16px;
    
	font-family: 'Neuton', serif;
	color: #41565e;
    text-decoration: none;
    

    }
    
.button:hover {
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow: none;
    color: #41565e;
}
 
.button.active{
    -moz-box-shadow:5px 5px 7px #000000;
    -webkit-box-shadow:5px 5px 7px #000000;
    box-shadow:5px 5px 7px #000000;
    filter: progid:DXImageTransform.Microsoft.Shadow(strength=5, direction=135, color='#000000');
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength=5, Direction=135, Color='#000000')";
}
