
# Flask configuration
DEBUG = True
SECRET_KEY = 'development key'
HOST = '127.0.0.1'

# Database settings
USER = 'postgres'
PASSWORD = 'postgres'
HOST = '127.0.0.1'
PORT = 5432
DATABASE = 'xlarrakoetxeaorg'
ENGINE = 'psycopg2'
SQLALCHEMY_DATABASE_URI = 'postgresql+%s://%s:%s@%s:%d/%s' % \
                            (ENGINE, USER, PASSWORD, HOST, PORT, DATABASE)
