{% extends "blog/blog.html" %}  
{% load readmorefilter %}
{% load markup %}
{% load taggingtags %}
{% load archivetags %}
{% load disqus_tags %}
 
{% block pageTitle %}Entries {% endblock pageTitle %}
 
{% block mainSection %}
    <section class="main-section grid_9 aplha">
    <div class="special-div">
    {%for entry in entries.object_list%}
        <article class="entry ">
            <h3><a href="{{ entry.get_absolute_url }}">{{entry.title}}</a></h3>
            </br>
            {% if entry.entry_format == 'html' %}
            
                {{entry.body|readmore:'<!--more-->'|safe}}
            
                {% else %}{% if entry.entry_format == 'md' %}
            
                    {{entry.body|readmore:'<!--more-->'|markdown:'safe,codehilite'}}
                    
                {% endif %}
            
            {% endif %}
            </br></br>
            <section class="entry-date">
            by: {{entry.author.username}} on {{entry.pub_date}}
            <a href="{{ entry.get_absolute_url }}#disqus_thread" data-disqus-identifier="blog_entry_{{ entry.id }}">View comments</a>
            {% disqus_num_replies %}
            </section>
            {% entry_tags entry %}
        </article>
        </br>
    {% endfor %}
    
    {%  include "blog/includes/paginationFooter.html"%}
    </div><!--special-div-->
    </section>
{% endblock mainSection %}

{% block sidebar %}
    <aside class="side-block grid_3 omega">
        <div class="special-div">
        {% archive_dates %}
        {% side_tag_list %}
        </div>
    </aside>
{% endblock sidebar%}
