{% extends "blog/blog.html" %}  
{% load taggingtags %}
{% load markup %}
{% load disqus_tags %}
{% load tweetertags %}
{% load googletags %}

{% block pageTitle %} {{entry.title}} {% endblock pageTitle %} 

{% block mainSection %}
    <section class="main-section grid_12">
        <div class="special-div">
        <article>
            <section class="entry">
                <section class="entry-date">
                    <a href="{% url blog.views.blog_entries_month entry.pub_date|date:'Y', entry.pub_date|date:'m' %}">{{entry.pub_date|date:'l, F d, Y'}}</a>
                </section>
                <section class="share-buttons">
                    {% tweet_button 'horizontal' %}
                    {% plus_one_button %}
                </section>
                </br> </br>
                {% if entry.entry_format == 'html' %}
                
                    {{entry.body|safe}}
                
                    {% else %}{% if entry.entry_format == 'md' %}
                
                        {{entry.body|markdown:'codehilite,tables'}}
                        
                    {% endif %}
                {% endif %}
                </br></br>
                <section class="entry-author">
                    <span>posted by <a href="{% url blog.views.author_detail entry.author.username %}"> {{entry.author.username}}</a> at {{entry.pub_date|date:'f A'}}</span>
                </section>
                {% entry_tags entry %}
            </section>
            </br>

            <section class="comments">
                <h2 class="section-title">comments</h2>
                {% if entry.allow_comments %}
                    {% disqus_dev %} <!-- BUG! if devel is enabled then the comments are for all the page not for each article, so we put again disqus_url and disqus_identifier-->
                    {% set_disqus_identifier 'blog_entry_' entry.id%}
                    {% set_disqus_url url %}
                    {% disqus_show_comments %}
                {% else %}
                    <h3>Comments have been closed for this entry.</h3>
                {% endif %}
            </section>
        </article>
        </div><!-- special-div-->
    </section>
{% endblock mainSection %}
