{% extends "blog/blog.html" %}  
{% load readmorefilter %}
{% load markup %}
{% load taggingtags %}
 
{% block pageTitle %} Welcome to the blog{% endblock pageTitle %}
 
{% block mainSection %}
    <section class="main-section grid_9">
    {%for entry in entries.object_list%}
        <article class="entry ">
            <h3><a href="{{ entry.get_absolute_url }}">{{entry.title}}</a>
            </br>
            {% if entry.entry_format == 'html' %}
            
                {{entry.body|readmore:'<!--more-->'|safe}}
            
                {% else %}{% if entry.entry_format == 'md' %}
            
                    {{entry.body|readmore:'<!--more-->'|markdown:'safe,codehilite'}}
                    
                {% endif %}
            
            {% endif %}
            </br></br>
            <section class="entry-date">
            by: {{entry.author.username}} on {{entry.pub_date}}
            </section>
            {% entry_tags entry %}
        </article>
        </br>
    {% endfor %}
    
    {%  include "blog/includes/paginationFooter.html"%}
    </section>
{% endblock mainSection %}

{% block sidebar %}
    <aside class="side-block grid_3">
        <h2>Sidebar Content</h2>
    </aside>
{% endblock sidebar%}
