{% extends "blog/blog.html" %}  
{% load readmorefilter %}
{% load markup %}
{% load taggingtags %}
{% load archivetags %}
{% load disqus_tags %}


{% block pageTitle %} 
    {%if tag %}
        Entries about {{ tag.name }}
    {% else %}
        {% if author %}
            {{author.username}}'s entries
        {% else %}
            Entries
        {% endif %}
    {% endif %}
{% endblock pageTitle %}

{% block mainSection %}
    <section class="main-section grid_9 aplha">
    <div class="special-div">
    {%for entry in entries.object_list%}
        <article class="entry ">
            
            <h2 class="title"><a href="{{ entry.get_absolute_url }}">{{entry.title}}</a></h2>
            
            <section class="entry-date">
                <a href="{% url blog.views.blog_entries_month entry.pub_date|date:'Y', entry.pub_date|date:'m' %}">{{entry.pub_date|date:'l, F d, Y'}}</a>
            </section>
            
            </br>
            {% if entry.entry_format == 'html' %}
            
                {{entry.body|readmore:'<!--more-->'|safe}}
            
                {% else %}{% if entry.entry_format == 'md' %}
            
                    {{entry.body|readmore:'<!--more-->'|markdown:'safe,codehilite,tables'}}
                    
                {% endif %}
            
            {% endif %}
            </br></br>
        
        <section class="entry-author">
                <span>posted by <a href="{% url blog.views.author_detail entry.author.username %}"> {{entry.author.username}}</a> at {{entry.pub_date|date:'f A'}}</span>
                <span><a href="{{ entry.get_absolute_url }}#disqus_thread" data-disqus-identifier="blog_entry_{{ entry.id }}">View comments</a></span>
                {% disqus_num_replies %}
        </section>
        
        </article>
        </br>
    {% endfor %}
    
    {%  include "blog/includes/paginationFooter.html"%}
    </div><!--special-div-->
    </section>
{% endblock mainSection %}

{% block sidebar %}
    <aside class="side-block grid_3 omega">
        <div class="special-div">
        {% archive_dates %}
        {% side_tag_list %}
        </div>
    </aside>
{% endblock sidebar%}
