{% extends "blog/blog_entries.html" %}  
{% load markup %}
{% load disqus_tags %}

{% block mainSection %}
    <section id="main-section" class="grid_12">
        <article>
            <section class="entry">
                <h3>{{entry.title}}</h3>
                </br>
                {% if entry.entry_format == 'html' %}
                
                    {{entry.body|safe}}
                
                    {% else %}{% if entry.entry_format == 'md' %}
                
                        {{entry.body|markdown:'codehilite'}}
                        
                    {% endif %}
                {% endif %}
                </br></br>
                by: {{entry.author.username}} on {{entry.pub_date}}
            </section>
            </br>
            <div class="clear"></div>
            <section class="comments">
                <h2 class="section-title">comments</h2>
                {% if entry.allow_comments %}
                    {% disqus_dev %} <!-- BUG! if devel is enabled then the comments are for all the page not for each article, so we put again disqus_url-->
                    {% set_disqus_url entry.get_absolute_url %}
                    {% disqus_show_comments %}
                {% else %}
                    <h3>Comments have been closed for this entry.</h3>
                {% endif %}
            </section>
        </article>
    </section>
{% endblock mainSection %}
