{% extends "blog/blog.html" %}

{% block navmenu %}
    <li><a class="button" href="/blog">Blog</a></li> 
    <li><a class="button" href="/projects">Projects</a></li>
    <li><a class="button" href="/about" >About</a></li>
    <li><a class="button active" href="/blog/tags" >Tags</a></li>
    <li><a class="button" href="/blog/search" >Search</a></li>
{% endblock navmenu %}

{% block pageTitle %} Tag cloud {% endblock pageTitle %}

{% block mainSection %}

    <section class="tags-tytle-box grid_16">
        <h2 class="title"> Tags ({{tag_list.size}}) </h2>
    </section>
    <div class="clear"></div>
    <section class="grid_16">
    <div class="special-div">
    <article class="entry-index">
    {% if tag_list %}
        <section class="entry-tag-vertical">
            <ul>
                {% for tag in tag_list %}
                <li><a href="{% url blog.views.tag_detail tag.name %}">{{ tag.name }}</a> <span class="tag-count"> x {{tag.count}} </span> </li> 
                {% endfor %}
            </ul>
        </section>
        {% else %}
            <p>No tags available</p>
        {% endif %} 
    <article>
    </div>
    </section>
{% endblock mainSection %}
