{% extends "blog/blog.html" %}

{% block navmenu %}
    <li><a class="button" href="/blog">Blog</a></li> 
    <li><a class="button" href="/projects">Projects</a></li>
    <li><a class="button" href="/about" >About</a></li>
    <li><a class="button active" href="/blog/tags" >Tags</a></li>
    <li><a class="button" href="/blog/search" >Search</a></li>
{% endblock navmenu %}

{% block pageTitle %} Tag cloud {% endblock pageTitle %}

{% block mainSection %}
    <section class="main-section grid_12">
    <div class="special-div">
    {% if tag_cloud %}
        <p class="tag-cloud">
        {% for tag in tag_cloud %}
            <a href="{% url blog.views.tag_detail tag.name%}" style="font-size: {{ tag.font_size }}em;">{{ tag.name }}</a>
        {% endfor %}
        </p>
    {% endif %}
    </div>
    </section>
{% endblock mainSection %}
